$brand-a: #00C08E;
$brand-b: #00E6A8;
$brand-c: #00805D;
$brand-d: #ffa200;

$brand-f: #8d8d8d;

$brand-j: #000000;

/* unused so far:

$brand-e: #ffde00;
$brand-g: #a90000;
$brand-h: #6e6895;
$brand-i: #f6e9d2;

*/
