#colophon {
	background-color: #00805d;
	color: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	margin-bottom: 0 !important;
}

.site-footer {
	height: 5em;
}

.footer__copy {
	font-size: 0.8em;
	margin-bottom: -10px;
	text-align: center;
	padding-left: -3em !important;
}

/* Is this doing anything below? */

.entry-footer {
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: #ffa200;
}
