#masthead {
  background-color:$brand-a;
}

#logo {
  width:2.5em;
  height:2.5em;
  position: absolute;
  left: 0.5em;
  top: 0.25em;
}

.header__title {
  position: relative;
  margin-left: 2.8em;
  padding-bottom: 0.8em;
}

span.text {
	color: white;
}

.main-navigation a {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  color: $brand-j;

}
