/* Does this do anything? Was it a div I created as a test and forgot to delete after?
#main_body_content {
	background-color:$brand-f;
	padding-top: 0.5em;
}
*/

.page-title, .entry-content, .entry-header, .entry-meta, .social-share, .nav-previous, .nav-next {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

.site-content, article {
	background-color: white;
}

.entry-header {
	margin-bottom: -1.5em;
}

.entry-title > a {
	color: $brand-f;
}

.edit-link {
	display: none;
}

img.wp-image-25.alignright {
	margin-bottom: 2em;
	padding-left: 1em;
}

hr {
	background-color: orange;
	height: 0.5em;
	width: 100%;
}
