@import 'social';
@import 'underscores';
@import 'typography';
@import 'header';
@import 'banner';
@import 'post';
@import 'footer';



.entry-footer {
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: #ffa200;
}

.entry-content > p > a {
	color: #00e6a8;
}

.edit-link {
	display: none;
}

a.more-link, .cat-links > a {
	color: #00e6a8;
}

a.more-link {
	font-size: 0.8em;
}


.page-header {
background-color:#8d8d8d;
height: 1em;
padding-top: 0.2em;
padding-bottom: 2.2em;
}

.page-title {
background-color:#8d8d8d;
font-weight: normal;
}

.entry-meta {
	padding-top: 1em;
	padding-left: 0.5em;
	margin-top: -5em;
	margin-bottom: 3em;
	text-align: right;
	font-size: 0.75em;
}

time.entry-date.published {
	color: #00e6a8;
}

a.url.fn.n {
color: #00e6a8;
}

img.wp-image-25.alignright {
	margin-bottom: 2em;
	padding-left: 1em;
}

hr {
background-color: orange;
height: 0.5em;
width: 100%;
}

.site-footer {
	height: 5em;
}

 #logo {
	 width:2.5em;
	 height:2.5em;
	 position: absolute;
	 left: 0.5em;
	 top: 0.25em;
 }

 .header__title {
	 position: relative;
	 margin-left: 2.8em;
	 padding-bottom: 0.8em;
 }

.info-container {
	padding-top: 2em;
}

.entry-header {
margin-bottom: -1.5em;
}

.nav-links {
font-size:0.9em;
}

/* Test comment */

.nav-previous > a, .nav-next > a {
color: #00e6a8;
}
