$brand-a: #38ae8e;
$brand-b: #0b9b75;
$brand-c: #086049;
$brand-d: #ffa200;
$brand-e: #ffde00;
$brand-f: #8d8d8d;
$brand-g: #a90000;
$brand-h: #5a497f;
$brand-i: #f6e9d2;
$brand-j: #e1c116;
$brand-k: #48484a;
$brand-l: #29272a;
$brand-m: #101011;
$brand-n: #9886bf;