$brand-a: #00C08E;
$brand-b: #00E6A8;
$brand-c: #00805D;
$brand-d: #ffa200;
$brand-e: #ffde00;
$brand-f: #8d8d8d;
$brand-g: #a90000;
$brand-h: #6e6895;
$brand-i: #f6e9d2;
$brand-j: #e1c116;
$brand-k: #48484a;
$brand-l: #29272a;
$brand-m: #101011;
$brand-n: #9886bf;
