.divider {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 1.5em !important;
    padding-left: 1em;
    padding-right: 1em !important;

    &__line {
        display: block;
        width: 100%;
        border-top: 1px solid $brand-f;
    }

    &__background {
        margin-top: -20px;
        padding: 0 15px;
        background: white;
        display: inline-block;
    }
    
    &__icon {
        height: 40px;
        width: 37px;
    }
}
