#colophon {
	background-color: $brand-c;
	color: #fff;
	text-align: center;
}

.container-footer {
	padding-top:2em;

}

.site-footer {
	height: 8em;
}

.footer__copy {
	font-size: 0.8em;
	margin-top: 1em;
}

.footer__header {
	display:inline-block;
}

.footer__social-list {
	display: inline-block;
}




/* was this doing anything below?

entry-footer {
	padding-top: 0.6em;
	padding-bottom: 0.6em;
	background-color: $brand-d;
}

*/
