.container-cat-titles {
  border-style:solid;
  border-width: thick;
  border-color: $brand-d;
  margin-bottom: 5em;
}

.container-post-excerpt {
  border-style:solid;
  border-width: thick;
  border-color: $brand-d;
  margin-bottom: 5em;
}
