.container-cat-titles {
  border-style:solid;
  border-width: thick;
  border-color: $brand-d;
  margin-bottom: 5em;
  padding-left: 1em;
}

.container-cat-titles .entry-header {
  margin-bottom: 1em;
}


.container-post-excerpt {
  border-style:solid;
  border-width: thick;
  border-color: $brand-d;
  margin-bottom: 5em;
  padding-left: 1em;
}

.cat-excerpt-entry-header {
  margin-left: -1em;
}

.news-latest-entry-header {
  margin-left: -1em;
}
