.container-cat-titles {
  padding-left: 1em;
}

.container-cat-titles .entry-header {
  margin-bottom: 1em;
}


.container-post-excerpt {
  padding-left: 1em;
}

.container-post-excerpt > h1 {
  padding-top: 0.5em;
}

.container-cat-titles > h1 {
  padding-top: 0.5em;
}

.cat-excerpt-entry-header {
  margin-left: -1em;
  padding-bottom:0.5em;

}

.news-latest-entry-header {
  margin-left: -1em;
}
