#masthead {
  background-color:$brand-a;
}

#logo {
  width:38px;
  height:38px;
  left: 0.5em;
  top: 0.25em;
  margin-left: 1em;
  margin-top: 0.4em;
}

/* Test Comment for commit */


/* Copied in from Main site but not working
.container_header {
max-width: 50rem;
margin-left: auto;
margin-right: auto;
padding-top: 0px;
    padding-right: 1rem;
    padding-bottom: 0px;
    padding-left: 1rem;
}

also tried logo

 */

/* can;t get font-weight working below */

.header__title {
  display: inline-block;
  vertical-align:top;
  padding-top:0.7em;
  margin-left: 0.25em;
  font-size: 1em;
  font-weight:lighter !important;
}

span.text {
	color: white;
}

.main-navigation a {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  color: $brand-j;
}
