#masthead {
    background-color: $brand-a;
}

.site-header {
    text-align: center !important;
    padding-top: 0.5em;
}

.site-header > a {
    padding: 2em 0;
    display: block;
}

.main-navigation {
    background-color: $brand-j;
    padding-top: 0.4em;
}

#site-navigation {
    text-align: center !important;
}

#logo {
    width: 38px;
    height: 38px;
    left: 0.5em;
    top: 0.25em;
    margin-top: 0.4em;
}

.header__title {
    display: inline-block;
    vertical-align: top;
    font-size: 1.375rem;
    font-weight: lighter !important;
    color: white;
}

.main-navigation a {
    padding: 0.1em 1em 0.5em;
    color: $brand-k;
}

#container_header {
    line-height: 2.1875rem;
}
