#masthead {
  background-color:$brand-a;
}

.site-header {
  text-align: center !important;
}

.main-navigation {
  background-color: $brand-j;
}

#site-navigation {
text-align: center !important;

}

#logo {
  width:38px;
  height:38px;
  left: 0.5em;
  top: 0.25em;
  margin-left: 1em;
  margin-top: 0.4em;
}

/*

*/

.header__title {
  display: inline-block;
  vertical-align:top;
  font-size: 1em;
  font-weight:lighter !important;
}


span.text {
	color: white;
}

.main-navigation a {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.1em;
  padding-bottom: 0.5em;
  color: $brand-k;
}
