.page-header {
    background-color: $brand-h;
    height: 1em;
    color: $brand-e;
}

.page-title {
    background-color: $brand-h;
    font-weight: 100;
    margin-top: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.page-title > a {
    color: $brand-e;
}
