.info-container {
	padding-top: 2em;
}

.entry-meta {
	padding-top: 1em;
	padding-left: 0.5em;
	margin-top: -5em;
	margin-bottom: 3em;
	float: right !important;
	font-size: 0.75em;
}

time.entry-date.published {
	color: $brand-b;
}

a.url.fn.n {
	color: $brand-b;
}


a.more-link, .cat-links > a {
	color: $brand-b;
}

.entry-content > p > a {
	color: $brand-b;
}

a.more-link {
	font-size: 0.8em;
}
