.post-navigation {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

.main-navigation {
    border-top: 2px solid $brand-i;
    border-bottom: 2px solid $brand-i;
    padding-top: 0;
}

.nav-links {
    font-size: 0.8em;
}

.nav-next > a,
.nav-previous > a {
    color: $brand-b;
}

#primary-menu {
    line-height: 1.7em;
}

#primary-menu > li {
    font-weight: 300;
    color: $brand-k !important;
    transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: initial;
}

#primary-menu > li > a {
    padding: 0.3em 30px;
}

#primary-menu > li > a:hover {
    background-color: $brand-i;
}

.current_page_item {
    background-color: white !important;
}

.page-title {
    color: white;
}
