.post-navigation {
  margin-top: -0.9em;
  margin-bottom: -0.9em;
}

.main-navigation {
border-top: 2px solid $brand-i;
padding-top: 0em;
}


.nav-links {
  font-size:0.8em;
}

.nav-previous > a, .nav-next > a {
  color: $brand-b;
}

#primary-menu > li {
  padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px;
      transition-property: background-color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: initial;

}

.menu > .li > a:hover {
background-color: $brand-i;
}

.current_page_item {
  background-color: white !important;;
}
