/* Does this do anything? Was it a div I created as a test and forgot to delete after?
#main_body_content {
	background-color:$brand-f;
	padding-top: 0.5em;
}
*/

.page-title, .entry-content, .entry-meta, .social-share, .nav-previous, .nav-next {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

.site-content, article {
	background-color: white;
}

.entry-header {
	margin-bottom: -1.5em;
}

.entry-title {
	margin-top:1.5em;
}
.entry-title > a {
	color: $brand-m;
}

article > .entry-header {
	padding-left:1em;
	margin-top: -0.75em;
}

.edit-link {
	display: none;
}

img.wp-image-25.alignright {
	margin-bottom: 2em;
	padding-left: 1em;
}

.nav-previous {
padding-bottom: 2em;
}

.wp-post-image {
float:left;
padding-top: 0.25em;
padding-right:0.5em;
padding-bottom:0.5em;

}
