.facebook-follow {
    width: 34px;
    height: 37px;
    display: inline-block;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20id%3D"Capa_1"%20data-name%3D"Capa%201"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"34.02"%20height%3D"37.02"%20viewBox%3D"0%200%2034.02%2037.02"><defs><style>.cls-1%7Bfill%3A%23103d2b%3B%7D.cls-2%7Bfill%3A%23fff%3B%7D<%2Fstyle><%2Fdefs><title>facebook<%2Ftitle><path%20class%3D"cls-1"%20d%3D"M18.94%2C4.68a17%2C17%2C0%2C1%2C0%2C17%2C17A17%2C17%2C0%2C0%2C0%2C18.94%2C4.68Zm3.76%2C14.13-0.2%2C2.54H19.89v8.84h-3.3V21.36H14.84V18.81h1.76V17.1a4.57%2C4.57%2C0%2C0%2C1%2C.57-2.64%2C3.13%2C3.13%2C0%2C0%2C1%2C2.73-1.28A11.05%2C11.05%2C0%2C0%2C1%2C23%2C13.5L22.6%2C16.11a5.94%2C5.94%2C0%2C0%2C0-1.42-.21%2C1.06%2C1.06%2C0%2C0%2C0-1.3.93v2h2.8Z"%20transform%3D"translate%28-1.93%20-1.68%29"%2F><path%20class%3D"cls-2"%20d%3D"M18.94%2C1.68a17%2C17%2C0%2C1%2C0%2C17%2C17A17%2C17%2C0%2C0%2C0%2C18.94%2C1.68Zm3.76%2C14.13-0.2%2C2.54H19.89v8.84h-3.3V18.36H14.84V15.81h1.76V14.1a4.57%2C4.57%2C0%2C0%2C1%2C.57-2.64%2C3.13%2C3.13%2C0%2C0%2C1%2C2.73-1.28A11.05%2C11.05%2C0%2C0%2C1%2C23%2C10.5L22.6%2C13.11a5.94%2C5.94%2C0%2C0%2C0-1.42-.21%2C1.06%2C1.06%2C0%2C0%2C0-1.3.93v2h2.8Z"%20transform%3D"translate%28-1.93%20-1.68%29"%2F><%2Fsvg>');
}

.twitter-follow {
    width: 34px;
    height: 37px;
    display: inline-block;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20id%3D"Capa_1"%20data-name%3D"Capa%201"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"34.02"%20height%3D"37.02"%20viewBox%3D"0%200%2034.02%2037.02"><defs><style>.cls-1%7Bfill%3A%23103d2b%3B%7D.cls-2%7Bfill%3A%23fff%3B%7D<%2Fstyle><%2Fdefs><title>twitter<%2Ftitle><path%20class%3D"cls-1"%20d%3D"M18.06%2C4.85a17%2C17%2C0%2C1%2C0%2C17%2C17A17%2C17%2C0%2C0%2C0%2C18.06%2C4.85Zm6.79%2C14.36c0%2C0.15%2C0%2C.3%2C0%2C0.45A9.94%2C9.94%2C0%2C0%2C1%2C9.55%2C28a7.07%2C7.07%2C0%2C0%2C0%2C5.17-1.45%2C3.5%2C3.5%2C0%2C0%2C1-3.26-2.43%2C3.46%2C3.46%2C0%2C0%2C0%2C.66.06A3.41%2C3.41%2C0%2C0%2C0%2C13%2C24.1a3.5%2C3.5%2C0%2C0%2C1-2.8-3.43v0a3.5%2C3.5%2C0%2C0%2C0%2C1.58.44%2C3.5%2C3.5%2C0%2C0%2C1-1.08-4.67%2C9.92%2C9.92%2C0%2C0%2C0%2C7.2%2C3.65%2C3.5%2C3.5%2C0%2C0%2C1%2C6-3.19A7%2C7%2C0%2C0%2C0%2C26.12%2C16%2C3.5%2C3.5%2C0%2C0%2C1%2C24.58%2C18a7%2C7%2C0%2C0%2C0%2C2-.55A7.09%2C7.09%2C0%2C0%2C1%2C24.85%2C19.21Z"%20transform%3D"translate%28-1.05%20-1.85%29"%2F><path%20class%3D"cls-2"%20d%3D"M18.06%2C1.85a17%2C17%2C0%2C1%2C0%2C17%2C17A17%2C17%2C0%2C0%2C0%2C18.06%2C1.85Zm6.79%2C14.36c0%2C0.15%2C0%2C.3%2C0%2C0.45A9.94%2C9.94%2C0%2C0%2C1%2C9.55%2C25a7.07%2C7.07%2C0%2C0%2C0%2C5.17-1.45%2C3.5%2C3.5%2C0%2C0%2C1-3.26-2.43%2C3.46%2C3.46%2C0%2C0%2C0%2C.66.06A3.41%2C3.41%2C0%2C0%2C0%2C13%2C21.1a3.5%2C3.5%2C0%2C0%2C1-2.8-3.43v0a3.5%2C3.5%2C0%2C0%2C0%2C1.58.44%2C3.5%2C3.5%2C0%2C0%2C1-1.08-4.67%2C9.92%2C9.92%2C0%2C0%2C0%2C7.2%2C3.65%2C3.5%2C3.5%2C0%2C0%2C1%2C6-3.19A7%2C7%2C0%2C0%2C0%2C26.12%2C13%2C3.5%2C3.5%2C0%2C0%2C1%2C24.58%2C15a7%2C7%2C0%2C0%2C0%2C2-.55A7.09%2C7.09%2C0%2C0%2C1%2C24.85%2C16.21Z"%20transform%3D"translate%28-1.05%20-1.85%29"%2F><%2Fsvg>');
}

.footer__header {
    display: inline-block;
    vertical-align: top;
    padding-top: 4em;
    font-size: 1em;
    margin-top: 0;
    padding-top: 0.6em;
    font-weight: lighter !important;
}

.footer__social-list {
    margin: 0 0 0 10px;
    padding: 0;
    list-style: none;
    text-align: center;
}

.footer__social-item {
    margin: 0 2px;
    padding: 0;
    display: inline-block;
}

.facebook-follow,
.twitter-follow {
    height: 37px;
    width: 34px;
    vertical-align: middle;
}

.social-share > iframe {
    vertical-align: bottom;
    margin-right: 5px;
}
